@model IEnumerable<BookViewModel>

<div>
	<form method="get">
		<input name="titleFilter" type="text" placeholder="filter by title (in current language)" value="@Context.Request.Query["titleFilter"]" class="form-control" />
	</form>
</div>
<div class="table-responsive mt-2">
	<table class="table table-bordered table-striped table-fixed mb-0">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Author Info</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Title</td>
					<td>@item.Description</td>
					<td>@item.AuthorInfo?.FirstName @item.AuthorInfo?.LastName (Book sells: @item.AuthorInfo?.BookSells)</td>
				</tr>
			}
		</tbody>
	</table>
</div>